{% macro weather_info(icon, temperature,range, wind, rain, humidity, uv, large=false) %}
<section class="weather_info">
	{% if large %}
	<span class="temperature">{{ temperature }}</span>
	{% else %}
	<p class="range"> {{ range }}</p>
	<div class="temperature_block">
		<img id="weather_icon" src="static/icons/sun.svg" width="80" height="80" />
		<span class="temperature">{{ temperature }}</span>
	</div>
	{% endif %}

	<hr />

	<div class="other_info">
		<div>
			<img src="static/icons/wind.svg" width="24" height="24" />
			<p><span>{{ wind }}</span> km/h NE</p>
		</div>
		<div>
			<img src="static/icons/rain_chance.svg" width="24" height="24" />
			<p><span>{{ rain }}</span> Chance</p>
		</div>
		<div>
			<img src="static/icons/humidity.svg" width="24" height="24" />
			<p><span>{{ humidity }}</span> Humidity</p>
		</div>
		<div>
			<img src="static/icons/uv.svg" width="24" height="24" />
			<p><span>{{ uv }}</span> UV Index</p>
		</div>
	</div>
</section>
{% endmacro %}
